.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}

a:hover{
	color: red;
}

.AS{

	cursor: pointer;
    font-weight: bolder;

}
.ASS{

    cursor: pointer;
    font-weight: bolder;

}

.AS:hover{
	color: red;
}

.ASS:hover{
    color: black;
}



#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

    .search input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;
    }

        .search:hover input, .search input:focus {
            width: 200px;
            margin-left: 0px;
        }

.btn {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}

#row{
	margin-bottom: 20px;
}

.center{
    text-align: center;
    display: block;
    width: 100px;
    height: 40px;
    padding: 10px 0 0 0;
    margin: 0 auto;
    background: #222222;
    color: white;
    border-radius: 10px;
    opacity: 1;

}