<div class="navigation col-lg-12">
<nav class="navbar navbar-inverse bg-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand" id="title" ><a [routerLink]="['/home']">Red Social</a></span>
    </div>
    <ul class="nav navbar-nav">
      <li *ngIf="identity"><a [routerLink]="['/estadisticas']" class="identify"><span class="glyphicon glyphicon-user"></span> {{identity.name}} {{identity.surname}}</a></li>
      <li *ngIf="identity"><a [routerLink]="['/usuarios']"><span class="glyphicon glyphicon-sort-by-alphabet"></span> Gente</a></li>
      <li *ngIf="identity"><a [routerLink]="['/mis_datos']"><span class="glyphicon glyphicon-edit"></span> Editar Perfil</a></li>
      <li *ngIf="identity"><a href="#" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a></li>    
      <li *ngIf="!identity"><a [routerLink]="['/registro']"><span class="glyphicon glyphicon-list-alt"></span> Registro</a></li>
      <li *ngIf="!identity"><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-out"></span> Login</a></li>
      
    </ul>
    

     
  </div>
</nav>
</div>
<router-outlet></router-outlet>



