<div class="col-lg-6">
	<h1>Registro</h1>
	<form #registerForm="ngForm" class="col-lg-6">

	<label>Nombre:<span *ngIf="!name.valid && name.touched" class="alert">Campo Oligatorio</span></label> 
	<input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required/>
		
	<label>Apellidos:<span *ngIf="!surname.valid && surname.touched" class="alert">Campo Oligatorio</span></label>
	<input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required>

	<label>Nick:<span *ngIf="!nick.valid && nick.touched" class="alert">Campo Oligatorio</span></label>
	<input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required>

	<label>Email:<span *ngIf="!email.valid && email.touched" class="alert">Campo Oligatorio</span></label>
	<input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

	<label>Password:<span *ngIf="!password.valid && password.touched" class="alert">Campo Oligatorio</span></label>
	<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required>
	<br/>

	<input type="submit" value="registrar" class="btn btn-primary" [disabled]="!registerForm.form.valid"/>
			
	</form>
</div>