<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
			
				
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{user.name}} {{user.surname}}
					</div>
					<div class="profile-usertitle-job">
						{{user.nick}}
					</div>
				</div>
							
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-eye-open"></i>
							Siguiendo Usuarios: {{stats.following}} </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Usuarios que nos siguien: {{stats.followed}} </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-book"></i>
							Publicaciones realizadas: {{stats.publications}} </a>
						</li>
						
					</ul>
				</div>
			
			</div>
		</div>
		
	</div>
</div>

<br>
<br>